/* 
Fonts: Special Elite for headers and Annie Use Your telescope for body
 */

:root {
  --font-body: #eeeeee;
  --color1: #f4b37c;
  --color2: #924d3d;
  --color3: #25181b;
  --color4: #677b4a;
}

body,
html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color4);
}

p,
li {
  font-family: "Annie Use Your Telescope", sans-serif;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--font-body);
}

h1 {
  font-family: "Special Elite", cursive;
  color: var(--color1);
  margin-block-end: unset;
}

button {
  background-color: var(--color3);
  font-family: "Special Elite", cursive;
  color: var(--font-body);
  margin: auto;
  padding: 15px;
  font-size: 1.2rem;
  border-style: unset;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  filter: brightness(150%);
}

a {
  color: var(--color1);
}

a:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.title {
  background-color: var(--color2);
  width: 75%;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 15px 10px;
  margin-top: 15px;
}

.page-layout {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "toolbar" "body";
  grid-gap: 8px;
  margin: 0;
  padding: 0;
  min-width: fit-content;
  display: grid;
  width: 75%;
  margin: auto;
  text-align: center;
}

div {
  display: grid;
  height: 100%;
  width: 100%;
}

.output {
  width: 50%;
  margin: auto;
  text-align: left;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-auto-rows: min-content;
  font-size: 1.3rem;
}

.field {
  grid-column: 1;
}

.data {
  grid-column: 2;
}

.center_link {
  background-color: var(--color3);
  color: var(--font-body);
  margin: auto;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}

footer {
  /* position: fixed; */
  width: 100vw;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: var(--color2);
  justify-content: space-evenly;
}

footer,
p {
  font-size: 1rem;
}
